* {
    box-sizing: border-box;
}
@font-face {
  font-family: "Trajan";
  src: url("trajan.woff") format("webopenfontformat");
}
@font-face {
  font-family: "Habibi";
  src: url("habibi.woff") format("webopenfontformat");
}
html {
  background-color: darkgrey;
  font-family: Helvetica;
  text-size-adjust: 100%;
  background-image: url(assets/metal3.jpg);
  background-size: 100% 130%;
  color: white;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
body {
  line-height: 1.5;
  overflow-x: hidden;
}
body h1, body h2, body h3 {
  font-family: Trajan;
}
body p, a, body span, body li, body ul {
  font-family: Habibi;
  font-weight: bold;
}
.topHeader {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.imgcontainer {
  position: relative;
  width: 100%;
}

.imgcontainer img {
  width: 100%;
  height: auto;
  display: block;
}

.th-heading a {
  text-decoration: none;
  color: white;
}

.imgcontainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw; /* Scales based on viewport width */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  text-align: center;
  white-space: nowrap;
}

.mainNav {
  width: 100%;
  margin: auto;
}

.mainNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: black;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
  margin: auto;
}

.mainNav ul li {
  font-size: 2vw; /* Adjust font size based on viewport width */
  white-space: nowrap;
  width: 309px;
  margin: auto;
}

.mainNav ul li a {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 1em
}

  
  .imgcontainer h1 {
    font-size: 8vw; /* Adjust heading size on smaller screens */
  }

.pagePresent h2 {
  padding-left: 2vw;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}
.pagePresent p {
    padding: 1em;
    margin-bottom: 1vw;
}
.embed-container {
    position: relative;
    width: 100%;
    height: auto;
}
.giphy-embed {
    width: 100%;
    height: auto;
    transform: scale(3);
    transform-origin: center;
    margin-top: 152px;
}
.portrait {
  height: 150px;
  width: 160px;
  overflow: hidden;
  border: solid 4px dimgrey;
}
.portrait img {
  height: auto;
  width: 100%;
}
.chaCard {
  height: 185px;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.trazyn img{
  height: 150px;
  transform: scale(2,2);
  object-position: -23px 27px;
}
.ragnar img {
  object-position: 0 -40px;
}
.papyrus {
  background-image: url(assets/papyrus.jpg);
  border: solid 3px dimgrey;
  position: relative;
}
.pagePresent p {
  font-size: 30px
}
.pagePresent h2 {
  font-size: 56px;
}
.chaCard img {
  display: inline;
}
.chaCard h3 {
  position: absolute;
  top: 10px;
  left: 175px;
}
.tituscrush_wrapper {
  background-color: grey;
  width: auto;
  height: 100%;
  margin: auto;
  position: relative;
  background-size: cover;
}
.tituscrush_wrapper img {
  transform: scale(1);
  width: 100%;
  margin: auto;
  padding: 0.5em
}
.footer_span {
  font-size: 0.8rem;
  margin: 1em 1em 1em 1em;
}
.present_banner_wrapper {
  width: 100%;
  height: 36px;
  position: relative;
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.present_banner_frame {
  width: 100%;
  height: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -40px
}
.present_banner_frame img {
  width: auto;
  height: 28px;
  display: inline;
  justify-content: center;
  align-items: center;
}
.legion h2 {
  padding-left: 2vw;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}